#!/bin/bash
## runs on each start of awesome

{{- if eq .chezmoi.hostname "psy-work1" }}
## setup monitors
xrandr --output DisplayPort-0 --auto --output DVI-D-0 --right-of DisplayPort-0 --auto --output HDMI-A-0 --auto --same-as DisplayPort-0
{{- end }}

# set compose key to menu
setxkbmap -option compose:menu
setxkbmap -option caps:escape

# start picom
DISPLAY=":0" picom -b

